*,
*:before,
*:after {
  box-sizing: border-box; }

h2 {
  text-decoration: underline;
  color: red; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background: #ccc;
  color: #fff; }
