<div class="recipe-container">
  <h1>{{header}}</h1>
  <ul class="recipe-display">
    <li ng-repeat="line in recipesTest">
    <h2>{{line}}</h2>
  </ul>
  <!-- <h2>{{recipesTest}}</h2> -->
  <ul class="recipe-list">
      <li class="recipe" ng-repeat="recipe in recipesList">
      <h4 class="recipe-title">{{recipe}}</h4>
      <!-- <img class="recipe-image" ng-src="{{recipe.image_url}}" /> -->
      <!-- <p>Get Recipe!</p> -->
      <!-- <a class="recipe-link" href=""></a> -->
    </li>
  </ul>
  <button ng-click="test()">Test</button>
</div>
